<a href="https://colab.research.google.com/github/SPSSURYA/Python-and-Data-Analytics-Workshop-Coding-/blob/master/15_06_20_exercise_and_worked_examples_python_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
 
num1 = int(input("Enter first no"))
num2 = int(input("Enter second no"))
sum = num1 + num2
print('The sum of {0} and {1} is {2}'.format(num1, num2, sum))

Enter first no6
Enter second no11
The sum of 6 and 11 is 17

 Python Program to Add Two Numbers getting through key board

 Python program to check if the input year is a leap year or not

In [0]:
 
year = int(input("Enter a year: "))
 
if ((year % 4) == 0 and (year % 100)  != 0) or ((year % 400) == 0):
           print("{0} is a leap year".format(year))
else:
           print("{0} is not a leap year".format(year))

Enter a year: 2000
2000 is a leap year

 Python Program to Generate a Random Number

In [0]:
 
import random
print(random.randint(0,9))

6

Python Program to Convert Kilometers to Miles

In [0]:
 
kilometers = int(input("Enter value in kilometers"))
conv_fac = 0.621371
miles = kilometers * conv_fac
print('%0.3f kilometers is equal to %0.3f miles' %(kilometers,miles))

Enter value in kilometers8
8.000 kilometers is equal to 4.971 miles

 Python Program to Solve Quadratic Equation

In [0]:
 
import cmath
a = float(input('Enter a: '))
b = float(input('Enter b: '))
c = float(input('Enter c: '))
d = (b**2) - (4*a*c)
sol1 = (-b-cmath.sqrt(d))/(2*a)
sol2 = (-b+cmath.sqrt(d))/(2*a)
print('The solution are {0} and {1}'.format(sol1,sol2))

Enter a: 2
Enter b: 4
Enter c: 3
The solution are (-1-0.7071067811865476j) and (-1+0.7071067811865476j)

 Python Program to find prime or not using function

In [0]:
 
def test_prime(n):
    if (n==1):
        return False
    elif (n==2):
        return True;
    else:
        for x in range(2,n):
            if(n % x==0):
                return False
        return True
no=int(input("Enter the number"))
if (test_prime(no)) is True :
    print(" {0} is a prime no".format(no))
else:
     print(" {0} is not a prime no".format(no))

Enter the number2
 2 is a prime no

 Calculator program

In [0]:
 choice = int(input("Enter your choice:n"))  # User's choice[1,2,3,4]
if (choice>=1 and choice<=4):
  print("Enter two numbers: ")
  num1 = int(input())
  num2 = int(input())
 
  if choice == 1: # To add two numbers
    res = num1 + num2
    print("Result = ", res)
 
  elif choice == 2: # To subtract two numbers
    res = num1 - num2
    print("Result = ", res)
 
  elif choice == 3: # To multiply two numbers
    res = num1 * num2
    print("Result = ", res)
 
  elif choice == 4: # To get quotient with decimal value
    res = num1 / num2
    print("Result = ", res)
 
  elif choice == 5:
    exit()
else:
  print("Wrong input..!!")

Enter your choice:n3
Enter two numbers:
4
6
Result =  24

 Find the compound interest for the given p,n,r

In [0]:
 
 
p = float(input("Enter the principle amount : "))
r = float(input("Enter the rate of interest : "))
n = float(input("Enter the time in the years: "))
ci =  p * (pow((1 + r / 100), n)) 
 
# printing the values
print("Principle amount  : ", p)
print("Interest rate     : ", r)
print("Time in years     : ", n)
print("compound Interest : ", ci)

Enter the principle amount : 5000
Enter the rate of interest : 2
Enter the time in the years: 1
Principle amount  :  5000.0
Interest rate     :  2.0
Time in years     :  1.0
compound Interest :  5100.0

 Convert centegrade to farenheit

In [0]:
 celsius=int(input("Enter the temperature in celcius:"))
f=(celsius*1.8)+32
print("Temperature in farenheit is:",f)

Enter the temperature in celcius:46
Temperature in farenheit is: 114.8

 Find the greater of two nos

In [0]:
 number1 = int(input("Enter first number: "))
number2 = int(input("Enter second number: "))
if (number1 == number2):
    print(number1, " is equal to ", number2)
elif (number1 > number2):
    print(number1, " is larger than ", number2)
else:
    print(number1, " is lesser than ", number2)

Enter first number: 44
Enter second number: 26
44  is larger than  26

 Write a program for finding surface areas of cylinder and cone (2*PI*r*r*h, 1/3*PI*r*r*h) using function.

In [0]:
 
def cylarea(r, h):
  return 2*3.14*r**2*h
def conearea(r, h):
  return 1/3*3.14*r**2*h
r1 = int(input("Enter The Radius Of Cylinder: "))
h1 = int(input("Enter The Height Of Cylinder: "))
print(f"Surface Area Of Cylinder Is: {cylarea(r1, h1)}")
r2 = int(input("Enter The Radius Of Cone: "))
h2 = int(input("Enter The Height Of Cone: "))
print(f"Surface Area Of Cone Is: {conearea(r2, h2)}")

Enter The Radius Of Cylinder: 4
Enter The Height Of Cylinder: 6
Surface Area Of Cylinder Is: 602.88
Enter The Radius Of Cone: 2
Enter The Height Of Cone: 3
Surface Area Of Cone Is: 12.559999999999999

 Find the greatest of four nos ( using ‘and’ operator)   using function.

In [0]:
 
n1 = int(input("Enter The First Number: "))
n2 = int(input("Enter The Second Number: "))
n3 = int(input("Enter The Third Number: "))
n4 = int(input("Enter The Fourth Number: "))
if(n1>n2 and n1>n3 and n1>n4):
  print(f"{n1} Is Greater Than {n2}, {n3}, {n4}")
elif(n2>n1 and n2>n3 and n2>n4):
  print(f"{n2} Is Greater Than {n1}, {n3}, {n4}")
elif(n3>n1 and n3>n2 and n3>n4):
  print(f"{n3} Is Greater Than {n1}, {n2}, {n4}")
else:
  print(f"{n4} Is Greater Than {n1}, {n2}, {n3}")

Enter The First Number: 4
Enter The Second Number: 8
Enter The Third Number: 3
Enter The Fourth Number: 6
8 Is Greater Than 4, 3, 6

 Write a  menu program to perform the operations ( ODDorEven, Factorial, ODDNoUptoN, PrimeUptoN ) using functions for two nos with  menu choice

In [0]:
 
loop = 1
choice = 0
def OddorEven(n):
  if(n%2==0):
    return True
def fact(f):
  s=1
  while(f>0):
    s=s*f
    f=f-1
  print(f"Factorial Of {f} Is: {s}")
def Odd(o):
  for i in range(o+1):
    if(i%2 != 0):
      print(i, end=' ')
def prime(p):
  c=0
  print(2, end=' ')
  for i in range(3,p+1):
    for j in range(2,i):
      if(i % j == 0):
        c=1
        break
    if(c==0):
      print(i, end=' ')
    c=0
 
while loop == 1:
    print(" ")
    print ("your options are:")
    print (" ")
    print("1) Odd or Even")
    print("2) Factorial")
    print("3) Odd Number Upto N")
    print("4) Prime Number upto N")
    print("5) Quit")
    print(" ")
    try:
        choice = int(input("Choose your option: "))
    except:
        print('please enter a valid number for option')
    print(" ")
    if choice == 1:
      n = int(input("Enter The Number: "))
      if(OddorEven(n)):
        print("The Number Is Even")
      else:
        print("The Number Is Odd")
    elif choice == 2:
      f = int(input("Enter The Number: "))
      fact(f)
    elif choice == 3:
      o = int(input("Enter The Number: "))
      Odd(o)
    elif choice == 4:
      p = int(input("Enter The Number: "))
      prime(p)
    elif choice == 5:
      loop = 0
    else:
      print("please choice a valid option from 1 to 5")
      choice=0

your options are:

1) Odd or Even
2) Factorial
3) Odd Number Upto N
4) Prime Number upto N
5) Quit

Choose your option: 3

Enter The Number: 4
1 3
your options are:

1) Odd or Even
2) Factorial
3) Odd Number Upto N
4) Prime Number upto N
5) Quit

Choose your option: 4

Enter The Number: 2
2
your options are:

1) Odd or Even
2) Factorial
3) Odd Number Upto N
4) Prime Number upto N
5) Quit

Choose your option: 5

 Python Program to find the factorial of a number using loop

In [0]:
 
n=int(input("Enter number:"))
fact=1
 
while(n>0):
    fact=fact*n
    n=n-1
print("Factorial of the number is: ")
print(fact)

Enter number:4
Factorial of the number is:
24

 Python Program to reverse a number using loop

In [0]:
 
r=0
n=int(input("Enter a number: "))
while(n>0):
    dig=n%10
    r=r*10+dig
    n=n//10
print("The reversed no  is:")
print(r)

Enter a number: 6528
The reversed no  is:
8256

 Write a Python program to construct the following pattern, using a nested for loop.
* 
* * 
* * * 
* * * * 
* * * * * 
* * * * 
* * * 
* * 
*

In [0]:
 
for i in range(n):
    for j in range(i):
        print ('* ', end="")
    print('')
 
for i in range(n,0,-1):
    for j in range(i):
        print('* ', end="")
    print('')

 Python Program to replace all occurrences of ‘a’ with ‘$’ in a string.

In [0]:
 
string=input("Enter string:")
string=string.replace('a','$')
string=string.replace('A','$')
print("Modified string:")
print(string)

Enter string:Surya
Modified string:
Sury$

 Python Program to remove the nth index character from a non-empty string.

In [0]:
 
def remove(string, n):  
      first = string[:n]   
      last = string[n+1:]  
      return first + last
string=input("Enter the sring:")
n=int(input("Enter the index of the character to remove:"))
print("Modified string:")
print(remove(string, n))

Enter the sring:Surya
Enter the index of the character to remove:2
Modified string:
Suya

 Python Program to detect if two strings are anagrams.

In [0]:
 
s1=input("Enter first string:")
s2=input("Enter second string:")
if(sorted(s1)==sorted(s2)):
      print("The strings are anagrams.")
else:
      print("The strings aren't anagrams.")

Enter first string:Surya
Enter second string:Prakash
The strings aren't anagrams.

 Python Program to form a string where the first character and the last character have been exchanged.

In [0]:
 
def change(string):
      return string[-1:] + string[1:-1] + string[:1]
string=input("Enter string:")
print("Modified string:")
print(change(string))

Enter string:Surya
Modified string:
auryS

 Python Program to  count number of vowels from a non-empty string.

In [0]:
 
string=input("Enter string:")
vowels=0
for i in string:
      if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U'):
            vowels=vowels+1
print("Number of vowels are:")
print(vowels)

Enter string:Surya
Number of vowels are:
2

 Program for Divide by zero error detection

In [0]:
6
flag = True
 
def div(a, b):  
       try:
            print("Finally the division of %d/%d is %f" % (a, b,a/b))
            global flag
            flag=False
       except ZeroDivisionError:
            print("Zero Division Error detected")
       else:
            print("Division is successful") 
       finally:
            if flag is True:
               print("Try again")     
            else:
               print("Thank you")
       
#global flag
 
while flag is True:
    div(int(input("Enter numerator")),int(input("Enter denominator")))

Enter numerator6
Enter denominator0
Zero Division Error detected
Try again
Enter numerator7
Enter denominator0
Zero Division Error detected
Try again
Enter numerator5
Enter denominator6
Finally the division of 5/6 is 0.833333
Division is successful
Thank you

 Program for ValueError error detection

In [0]:
 
while True:
     try:
         x = int(input("Please enter a number: "))
         print(" That was valid number. Thank you")
         break
     except ValueError:
         print("Oops!  That was no valid number.  Try again...")

Please enter a number: 4
 That was valid number. Thank you

 1 Write a program to print the triangle 
i/p  4
 
1
2    3
3    4   5
4    5   6   7

In [0]:
 
n = int(input("Enter The N Value:"))
c=1
for i in range(n):
  for j in range(i+1):
    print(c, end=' ')
    c+=1
  print("\n")
  c=c-i

Enter The N Value:4
1

2 3

3 4 5

4 5 6 7

 
2 Enter number 4
 
*
* *
* * *
* * * *

In [0]:
 
n = int(input("Enter The Number:"))
for i in range(n):
  print("*"*(i+1))

Enter The Number:4
*
**
***
****

 Enter number 5
 
5
4 5
3 4 5
2 3 4 5
1 2 3 4 5

In [0]:
 
n = int(input("Enter The Number:"))
c=n
for i in range(n):
  c=c-i
  for j in range(i+1):
    print(c, end=" ")
    c+=1
  c-=1
  print("\n")

Enter The Number:5
5

4 5

3 4 5

2 3 4 5

1 2 3 4 5

   Enter number 5
 
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [0]:
 
n = int(input("Enter The Number:"))
for i in range(n):
  c=n-i
  for j in range(n-i):
    print(c, end=' ')
    c-=1
  print("\n")

Enter The Number:5
5 4 3 2 1

4 3 2 1

3 2 1

2 1

1

  Enter number 4
 
1 2 3 4
2 3 4
3 4
4
3 4
2 3 4
1 2 3 4

In [0]:
 
n = int(input("Enter The Number:"))
for i in range(n):
  c=i+1
  for j in range(n-i):
    print(c, end=' ')
    c+=1
  print("\n")
for i in range(n-1):
  c=n-i-1
  for j in range(i+2):
    print(c, end=' ')
    c+=1
  print("\n")

Enter The Number:4
1 2 3 4

2 3 4

3 4

4

3 4

2 3 4

1 2 3 4

 
6 Find the length of a string without using len functions

In [0]:
 
c = 0
for i in input("Enter The String: "):
    c += 1
print(f'The Length Of String Is: {c}')

Enter The String: Surya
The Length Of String Is: 5

Find the no of words and characters in a string

In [0]:
 
s = input("Enter The String: ")
c = 0
for i in s:
    if i == " ":
        c += 1
print(f'The Number Of Words In A String Is: {c + 1} \nThe Number Of Characters In A String Is: {len(s)}')

Enter The String: Surya
The Number Of Words In A String Is: 1
The Number Of Characters In A String Is: 5

  Find the no of occurrences of a word in a string

In [0]:
 
def countOccurences(s, w):   
       
    return c        
s = input("Enter The Main String: ").lower()
w = input("Enter Comparision String: ")
a = s.split(" ") 
c = 0
for i in range(0, len(a)): 
  if (w == a[i]):
    c = c + 1    
print(c)

Enter The Main String: Surya Prakash
Enter Comparision String: Raja
0