<a href="https://colab.research.google.com/github/SPSSURYA/Python-and-Data-Analytics-Workshop-Coding-/blob/master/Copy_of_Copy_of_Day_2_sesson_2_Example_programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 
dict = {'Name': 'Zara', 'Age': 7};
print("Start Len : %d" %  len(dict))
dict.clear()
print("End Len : %d" %  len(dict))

Start Len : 2
End Len : 0

 Removes all elements of dictionary dict

 Returns a list of dict's (key, value) tuple pairs

In [ ]:
 
dict = {'Name': 'Zara', 'Age': 7}
print ("Value : %s" %  dict.items())

Value : dict_items([('Name', 'Zara'), ('Age', 7)])

 Returns a copy of dictionary dict

In [ ]:
 
dict1 = {'Name': 'Zara', 'Age': 7};
dict2 = dict1.copy()
print ("New Dictinary : %s" %  str(dict2))

New Dictinary : {'Name': 'Zara', 'Age': 7}

 Python Program to Generate a Dictionary that Contains Numbers (between 1 and n) in the Form (x,x*x).

In [ ]:
 
n=int(input("Enter a number:"))
d={x:x*x for x in range(1,n+1)}
print(d)

Enter a number:4
{1: 1, 2: 4, 3: 9, 4: 16}

 Python Program to Sum All the Items in a Dictionary

In [ ]:
 
d={'A':100,'B':540,'C':239}
print("Total sum of values in the dictionary:")
print(sum(d.values()))

Total sum of values in the dictionary:
879

 Python Program to Remove the Given Key from a Dictionary

In [ ]:
 
d = {'a':1,'b':2,'c':3,'d':4}
print("Initial dictionary")
print(d)
key=input("Enter the key to delete(a-d):")
if key in d: 
    del d[key]
else:
    print("Key not found!")
    exit(0)
print("Updated dictionary")
print(d)

Initial dictionary
{'a': 1, 'b': 2, 'c': 3, 'd': 4}
Enter the key to delete(a-d):b
Updated dictionary
{'a': 1, 'c': 3, 'd': 4}

 Python Program to add name and mark as key->value pair in  a Dictionary and print it.

In [ ]:
 
n=int(input("Enter no of records"))
d={}
for i in range(1,n+1):
    name= input("Enter name %d"%(i))
    mark=int(input("Enter mark %d"%(i)))
    d[name]=mark
    print (d)

Enter no of records3
Enter name 1Raju
Enter mark 198
{'Raju': 98}
Enter name 2Pavan
Enter mark 286
{'Raju': 98, 'Pavan': 86}
Enter name 3Puni
Enter mark 3100
{'Raju': 98, 'Pavan': 86, 'Puni': 100}

 Keys and Values example

In [ ]:
 
    d={}
    print (" The dictionary elements are")
    for i in range(1,21):
        d[i]=i**2
    print (d)
    # To print key and values
    print (" Key==> Value are")
    for (k,v) in d.items(): 
        print(k,"==>",v)
  # To print key only
    print ("\nTo print key only")
    for k in d.keys():  
        print(k, end=" ")
  #To print value only
    print ("\nTo print values only")
    for v in d.values():    
        print(v, end=" ")

IndentationError: ignored

 Python program to convert 2 digit number   into words

In [ ]:
 
d={0:'',1:'one',2:'two',3:'three',4:'four',5:'five',6:'six',7:'seven',8:'eight',9:'nine',\
   10:'ten',11:'eleven',12:'twelve',13:'thirteen',14:'fourteen',15:'fifteen',16:'sixteen',\
   17:'seventeen',18:'eightteen',19:'nineteen',20:'twenty',30:'thirty',40:'fourty',50:'fifty',\
   60:'sixty',70:'seventy',80:'eighty',90:'ninty'}
 
num=int(input("Enter the integer between 1 to 99:"))
if (num<=20):
      print(d[num])
if(num>20 and num<100):
        if num%10==0:       
            print(d[num])
        else:
            print(d[num//10*10]+" "+d[num%10])

Enter the integer between 1 to 99:11
eleven

 How to sort a dictionary by values in Python

In [ ]:
 
 
d = {"Pierre": 42, "Anne": 33, "Zoe": 24}
#Use the sorted function and operator module
import operator
sorted_d = sorted(d.items(), key=operator.itemgetter(1))
print(sorted_d)
sorted_a= sorted(d.items(), key=operator.itemgetter(1),reverse=True)
print(sorted_a)

[('Zoe', 24), ('Anne', 33), ('Pierre', 42)]
[('Pierre', 42), ('Anne', 33), ('Zoe', 24)]

 Add rollno and marks {name:mark} for n number of students through keyboard in a dictionary and print the marks in descending order with respective name.

In [ ]:
 
import operator
d={}
for i in range(int(input("Enter The Number Of Students: "))):
  n=input(f"Enter The Name Of Student-{i+1}: ")
  d[n]=int(input(f"Enter The Marks Of Student-{i+1}: "))
print(dict(sorted(d.items(), key=operator.itemgetter(1), reverse=True)))

Enter The Number Of Students: 4
Enter The Name Of Student-1: Surya
Enter The Marks Of Student-1: 98
Enter The Name Of Student-2: Prakash
Enter The Marks Of Student-2: 88
Enter The Name Of Student-3: Punith
Enter The Marks Of Student-3: 99
Enter The Name Of Student-4: Raja
Enter The Marks Of Student-4: 46
{'Punith': 99, 'Surya': 98, 'Prakash': 88, 'Raja': 46}

 
Add  name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in name alphabetical order with salary

In [ ]:
 
import operator
d={}
for i in range(int(input("Enter The Number Of Employees: "))):
  n=input(f"Enter The Name Of Employee-{i+1}: ")
  d[n]=int(input(f"Enter The Salary Of Employee-{i+1}: "))
print(dict(sorted(d.items(), key=operator.itemgetter(0))))

Enter The Number Of Employees: 4
Enter The Name Of Employee-1: Surya
Enter The Salary Of Employee-1: 98000
Enter The Name Of Employee-2: Prakash
Enter The Salary Of Employee-2: 66000
Enter The Name Of Employee-3: Punith
Enter The Salary Of Employee-3: 9999
Enter The Name Of Employee-4: Raja
Enter The Salary Of Employee-4: 54000
{'Prakash': 66000, 'Punith': 9999, 'Raja': 54000, 'Surya': 98000}

 Add  name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in salary  ascending order and  sum, max, min and average of the salaries

In [ ]:
 
import operator
d={}
for i in range(int(input("Enter The Number Of Employees: "))):
  n=input(f"Enter The Name Of Employee {i+1}: ")
  d[n]=int(input(f"Enter The Salary Of Employee {i+1}: "))
print(dict(sorted(d.items(), key=operator.itemgetter(1))))
print(f"Sum: {sum(d.values())}\nMax: {max(d.values())}\nMin: {min(d.values())}\nAverage: {sum(d.values())/len(d)}")

Enter The Number Of Employees: 4
Enter The Name Of Employee 1: Surya
Enter The Salary Of Employee 1: 98000
Enter The Name Of Employee 2: Prakash
Enter The Salary Of Employee 2: 77777
Enter The Name Of Employee 3: Punith
Enter The Salary Of Employee 3: 199999
Enter The Name Of Employee 4: Harin
Enter The Salary Of Employee 4: 68924
{'Harin': 68924, 'Prakash': 77777, 'Surya': 98000, 'Punith': 199999}
Sum: 444700
Max: 199999
Min: 68924
Average: 111175.0

 
Add name and salary {name:salary} for n number of employees through keyboard in a dictionary and print only the employees whose salary is greater than 2000 but less than 4000

In [ ]:
 
d={}
for i in range(int(input("Enter The Number Of Employees : "))):
  n=input(f"Enter The Name Of Employee {i+1}: ")
  d[n]=int(input(f"Enter The Salary Of Employee {i+1}: "))
print(dict([(k,v) for k,v in d.items() if 2000<v<4000]))

Enter The Number Of Employees : 3
Enter The Name Of Employee 1: Harin
Enter The Salary Of Employee 1: 87368
Enter The Name Of Employee 2: Sidda
Enter The Salary Of Employee 2: 3000
Enter The Name Of Employee 3: Ramesh
Enter The Salary Of Employee 3: 2682
{'Sidda': 3000, 'Ramesh': 2682}

 Python program to convert a 3 digit number  into words

In [ ]:
 
d={0:'',1:'one',2:'two',3:'three',4:'four',5:'five',6:'six',7:'seven',8:'eight',9:'nine',\
   10:'ten',11:'eleven',12:'twelve',13:'thirteen',14:'fourteen',15:'fifteen',16:'sixteen',\
   17:'seventeen',18:'eightteen',19:'nineteen',20:'twenty',30:'thirty',40:'fourty',50:'fifty',\
   60:'sixty',70:'seventy',80:'eighty',90:'ninty',100:'One hundred',200:'Two hundred',300:'three hundred',400:'four hundred',500:'five hundred',600:'six hundred',700:'seven hundred',800:'eight hundred',900:'nine hundred'}
num=int(input("Enter the integer between 100 to 999:"))
print(f"{d[num//100*100]} {d[((num//10)%10)*10]} {d[num%10]}")

Enter the integer between 100 to 999:456
four hundred fifty six

FILES EXAMPLES

 Python Program to count the number of lines in a text file.

In [ ]:
 
fname = input("Enter file name: ")
num_lines = 0 
with open(fname, 'r') as f:
    for line in f:
        num_lines += 1
print("Number of lines:")
print(num_lines)

Enter file name: /sps.txt
Number of lines:
2

 Python Program to count the number of words in a text file.

In [ ]:
 
fname = input("Enter file name: ")
num_words = 0
with open(fname, 'r') as f:
    for line in f:
        words = line.split()
        num_words += len(words)
print("Number of words:")
print(num_words)

Enter file name: /sps.txt
Number of words:
3

 Python Program to count the occurrences of a word in a text file.

In [ ]:
 
fname = input("Enter file name: ")
word=input("Enter word to be searched:")
k = 0
 
with open(fname, 'r') as f:
    for line in f:
        words = line.split()
        for i in words:
            if(i==word):
                k=k+1
print("Occurrences of the word:")
print(k)

Enter file name: /sps.txt
Enter word to be searched:surya
Occurrences of the word:
1

 Python Program to copy the contents of one file into another

In [ ]:
 
with open("/sps.txt") as f:
    with open("out.txt", "w") as f1:
        for line in f:
            f1.write(line)

 Python Program to read the contents of the file in reverse order.

In [ ]:
 
 filename=input("Enter file name: ")
    
with open (filename,'r') as f:
    for line in f:
        l=line.split()
        l.reverse() 
        st= " ".join(l)
        print (st)

Enter file name: /sps.txt
praksh surya
mijar

 Python Program to count the total number of charaters (except blank space) in a text file.

In [ ]:
f=open("/sps.txt","r")
t=f.read()
c=0
for i in t:
  if(i!=" " and i!='\n'):
    c+=1
print(c)

16

 Python Program to print all the numbers present in a text file with its total number of occurrence.

In [ ]:
file_txt = open("/sps1.txt","r")		
text = file_txt.read()	
w = []	
d = dict() 
for line in text: 
    line = line.strip() 	
    if(line.isdigit()):
           w.append(line)
for j in w:
      if j in d:
        d[j] = d[j] + 1
      else: 
            d[j] = 1 
for key in list(d.keys()): 
    print(key, ":", d[key])

1 : 2
2 : 2
3 : 2
4 : 2
5 : 2

 Python Program to append the contents of one file to another file by getting the both file names through keyboard

In [ ]:
name1 = input("Enter file to be read from: ")
name2 = input("Enter file to be appended to: ")
fin = open(name1, "r")
data2 = fin.read()
fin.close()
fout = open(name2, "a")
fout.write(data2)
fout.close()

Enter file to be read from: /sps.txt
Enter file to be appended to: /sps1.txt

 Python Program to count the number of blank spaces in a text file.

In [ ]:
file_txt = open("/sps.txt","r")		
text = file_txt.read()			
charc = 0	
for i in text:				
	if(i == " "):
		 charc += 1
 
print ("total num of spaces: ",charc);

total num of spaces:  1

 
Python Program to read a file and capitalize the first letter of every word in the file and copy the every word capitalized content  into another file and read it .

In [ ]:
with open('/sps.txt', 'r') as f:
  with open("sps2.txt", "w") as f1:
    for line in f:
        l=line.title()
        f1.write(l)
file2=open("sps2.txt",'r')
line=file2.readline()
while(line!=""):
    print(line)
    line=file2.readline()
file2.close()

Surya Praksh

Mijar