<a href="https://colab.research.google.com/github/SPSSURYA/Python-and-Data-Analytics-Workshop-Coding-/blob/master/Day_2_Session_2_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dictionary Exercises

# 	Add rollno and marks {name:mark} for n number of students through keyboard in a dictionary and print the marks in descending order with respective name.

In [5]:
n=int(input("Enter the number of records "))
d={}
import operator
for i in range(1,n+1):
  name= input("Enter the name %d "%(i))
  mark=int(input("Enter the marks %d "%(i)))
  d[name]=mark
print("input: ",d)
sorted_a= sorted(d.items(), key=operator.itemgetter(1),reverse=True)
print("output: ",sorted_a)

Enter the number of records 3
Enter the name 1 Punith
Enter the marks 1 100
Enter the name 2 Surya
Enter the marks 2 88
Enter the name 3 Prakash
Enter the marks 3 64
input:  {'Punith': 100, 'Surya': 88, 'Prakash': 64}
output:  [('Punith', 100), ('Surya', 88), ('Prakash', 64)]

#Add  name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in name alphabetical order with salary

In [6]:
n=int(input("Enter the number of records "))
d={}
import operator
for i in range(1,n+1):
  name= input("Enter the name %d "%(i))
  s=float(input("Enter the salary %d "%(i)))
  d[name]=s
print("input: ",d)
sorted_a= sorted(d.items(), key=operator.itemgetter(0))
print("output: ",sorted_a)

Enter the number of records 3
Enter the name 1 Prakash
Enter the salary 1 88356
Enter the name 2 Surya
Enter the salary 2 92679
Enter the name 3 Punith
Enter the salary 3 99992
input:  {'Prakash': 88356.0, 'Surya': 92679.0, 'Punith': 99992.0}
output:  [('Prakash', 88356.0), ('Punith', 99992.0), ('Surya', 92679.0)]

#Add  name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in salary  ascending order and sum, max, min and average of the salaries

In [8]:
n=int(input("Enter the number of records "))
d={}
import operator
for i in range(1,n+1):
  name= input("Enter the name %d "%(i))
  s=float(input("Enter the salary %d "%(i)))
  d[name]=s
print("input: ",d)
sorted_a= sorted(d.items(), key=operator.itemgetter(1))
print("output: ",sorted_a)
v = d.values()
print("sum: ",sum(v))
print("max: ",max(v))
print("min: ",min(v))
print("avg: ",(sum(v)/n))

Enter the number of records 3
Enter the name 1 Prakash
Enter the salary 1 47932
Enter the name 2 Surya
Enter the salary 2 89345
Enter the name 3 Prakash
Enter the salary 3 67824
input:  {'Prakash': 67824.0, 'Surya': 89345.0}
output:  [('Prakash', 67824.0), ('Surya', 89345.0)]
sum:  157169.0
max:  89345.0
min:  67824.0
avg:  52389.666666666664

#Add name and salary {name:salary} for n number of employees through keyboard in a dictionary and print only the employees whose salary is greater than 2000 but less than 4000

In [4]:
n=int(input("Enter the number of records"))
d={}
import operator
for i in range(1,n+1):
  name= input("Enter the name %d "%(i))
  s=int(input("Enter the salary %d "%(i)))
  d[name]=s
print("input: ",d)
for key,value in d.items():
    if value>=2000 and value<=4000:
         print(d[key],"=",key)

Enter the number of records3
Enter the name 1 Raju
Enter the salary 1 2568
Enter the name 2 Surya
Enter the salary 2 5197
Enter the name 3 Punith
Enter the salary 3 3000
input:  {'Raju': 2568, 'Surya': 5197, 'Punith': 3000}
2568 = Raju
3000 = Punith

#Python program to convert a 3 digit number  into words

In [2]:
def convert_to_words(num): 
    l = len(num)
    if (l == 0): 
        print("empty string")
        return; 
    if (l > 4): 
        print("Length more than 4 is not supported"); 
        return; 
    single_digits = ["zero", "one", "two", "three", 
                    "four", "five", "six", "seven", 
                    "eight", "nine"]
    two_digits = ["", "ten", "eleven", "twelve", 
                "thirteen", "fourteen", "fifteen", 
                "sixteen", "seventeen", "eighteen", 
                "nineteen"]
    tens_multiple = ["", "", "twenty", "thirty", "forty", 
                    "fifty", "sixty", "seventy", "eighty", 
                    "ninety"]; 
    tens_power = ["hundred", "thousand"]
    print(num, ":", end = " ") 
    if (l == 1): 
        print(single_digits[ord(num[0]) - '0']) 
        return
    x = 0; 
    while (x < len(num)): 
        if (l >= 3): 
            if (ord(num[x]) - 48 != 0): 
                print(single_digits[ord(num[x]) - 48], 
                                        end = " ")
                print(tens_power[l - 3], end = " ") 
            l -= 1 
        else: 
            if (ord(num[x]) - 48 == 1): 
                sum = (ord(num[x]) - 48 +
                    ord(num[x]) - 48); 
                print(two_digits[sum])
                return; 
            elif (ord(num[x]) - 48 == 2 and
                ord(num[x + 1]) - 48 == 0): 
                print("twenty")
                return; 
            else: 
                i = ord(num[x]) - 48
                if(i > 0): 
                    print(tens_multiple[i], end = " ")
                else: 
                    print("", end = "")
                x += 1; 
                if(ord(num[x]) - 48 != 0): 
                    print(single_digits[ord(num[x]) - 48])
        x += 1; 
n=(input("Enter the number: "))
convert_to_words(n)

Enter the number: 482
482 : four hundred eighty two

#Files Exercises

#Python Program to count the total number of charaters (except blank space) in a text file.

In [ ]:
input_file = input("Enter File name : ")
file_txt = open(input_file)		
text = file_txt.read()			
charc = 0	
for i in text:				
	if(i != " " and i != "\n" ):
		 charc += 1
 
print ("total num of characters: ",charc);

Enter File name : /content/foo.txt
total num of characters:  20

#Python Program to print all the numbers present in a text file with its total number of occurrence.

In [ ]:
input_file = input("Enter File name : ")
file_txt = open(input_file)		
text = file_txt.read()	
w = []	
d = dict() 
for line in text: 
    line = line.strip() 	
    if(line.isdigit()):
           w.append(line)
for j in w:
      if j in d:
        d[j] = d[j] + 1
      else: 
            d[j] = 1 
for key in list(d.keys()): 
    print(key, ":", d[key])

Enter File name : /content/abc.txt
1 : 2
2 : 3
3 : 3
4 : 1
5 : 1

#Python Program to append the contents of one file to another file by getting the both file names through keyboard .

In [ ]:
name1 = input("Enter file to be read from: ")
name2 = input("Enter file to be appended to: ")
fin = open(name1, "r")
data2 = fin.read()
fin.close()
fout = open(name2, "a")
fout.write(data2)
fout.close()

Enter file to be read from: /content/abc.txt
Enter file to be appended to: /content/foo.txt

#Python Program to count the number of blank spaces in a text file.

In [ ]:
input_file = input("Enter File name : ")
file_txt = open(input_file)		
text = file_txt.read()			
charc = 0	
for i in text:				
	if(i == " "):
		 charc += 1
 
print ("total num of spaces: ",charc);

Enter File name : /content/abc.txt
total num of spaces:  7

#Python Program to read a file and capitalize the first letter of every word in the file and copy the every word capitalized content  into another file and read it .

In [ ]:
fname = input("Enter file name: ")
with open(fname, 'r') as f:
  with open("out.txt", "w") as f1:
    for line in f:
        l=line.title()
        f1.write(l)
file2=open("out.txt",'r')
line=file2.readline()
while(line!=""):
    print(line)
    line=file2.readline()
file2.close()

Enter file name: /content/xyz.txt
Python Program To Read A File And Capitalize The First Letter Of Every Word In The File And Copy The Every Word Capitalized Content  Into Another File And Read It .